@formbox: {
  // 加入一个阴影效果
  box-shadow: 2px 2px 3px black;
};

@bottomradius: {
  /* 底部圆角 */
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
};

@center: {
  height: 86vh;
  display: flex;
  flex: 22;
};
@test: {
  background: black;
};
